 <div class="inset" layout="row" layout-sm="column" layout-align="center" >
    <md-button flex="90" class="md-accent md-raised" ng-href="#/select">Back</md-button>    
  </div>
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Time Sheet">
        <md-content class="md-padding">
          
          <!-- Content comes here -->
            <md-card ng-if="weekday.Number !== 0" ng-repeat="weekday in WeekDays">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{weekday.Description}}</span>                    
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <div layout="row">
                    <md-input-container  flex="90">
                      <label>Start</label>
                      <md-select ng-model="startSelected" ng-change="weekday.startSelected = true">                      
                        <md-option ng-repeat="hour in weekday.OptionHoursStart" value="{{hour}}">
                          {{hour}}
                        </md-option>
                      </md-select>
                    </md-input-container>     
                  </div>
                    <div layout="row">
                    <md-input-container  flex="90">
                      <label>End</label>
                      <md-select ng-model="endSelected" ng-disabled="!weekday.startSelected" ng-change="weekday.duration = duration(startSelected, endSelected); calculateTotal(weekday);" flex="50">                      
                        <md-option ng-if="weekday.startSelected" value="{{hour}}" ng-repeat="hour in getEndHours(startSelected)">
                          {{hour}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                      
                  </div>
                </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">                        
                        <md-toolbar class="md-warn">
                          <div class="md-toolbar-tools">
                            <h2 class="md-flex">Hours: {{weekday.duration}}</h2>
                          </div>
                        </md-toolbar>
                    </md-card-actions>                                 
              </md-card>          
          <!-- Starts Sunday -->
            <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{Sunday.Description}}</span>                    
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <div layout="row">
                    <md-input-container  flex="90">
                      <label>Start</label>
                      <md-select ng-model="startSelectedSunday" ng-change="Sunday.startSelected = true">                      
                        <md-option ng-repeat="hour in Sunday.OptionHoursStart" value="{{hour}}">
                          {{hour}}
                        </md-option>
                      </md-select>
                    </md-input-container>     
                  </div>
                    <div layout="row">
                    <md-input-container  flex="90">
                      <label>End</label>
                      <md-select ng-model="endSelectedSunday" ng-disabled="!Sunday.startSelected" ng-change="Sunday.duration = duration(startSelectedSunday, endSelectedSunday); calculateTotal(Sunday);" flex="50">                      
                        <md-option ng-if="Sunday.startSelected" value="{{hour}}" ng-repeat="hour in getEndHours(startSelectedSunday)">
                          {{hour}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                      
                  </div>
                </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">                        
                        <md-toolbar class="md-warn">
                          <div class="md-toolbar-tools">
                            <h2 class="md-flex">Hours: {{Sunday .duration}}</h2>
                          </div>
                        </md-toolbar>
                    </md-card-actions>                                 
              </md-card>                              
        </md-content>
      <md-tab label="Selecteds ({{selecteds.length}})">
        <md-content class="md-padding">          
                <md-list flex>                        
                        <md-list-item class="md-3-line" ng-repeat="employee in selecteds" ng-click="showAddRemove(employee, 'Remove')" style="background: #b9f6ca;">
                          <img ng-src="{{employee.image}}" class="md-avatar" alt="{{employee.name}}" />
                          <div class="md-list-item-text" layout="column">
                            <h3>{{ employee.name }}</h3>
                            <h4>{{ item.what }}</h4>
                            <p>{{ item.notes }}</p>
                          </div>
                        </md-list-item>
                        <md-divider ></md-divider>
                </md-list>          
        </md-content>
      </md-tab>
          
    </md-tabs>
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Hours: {{Duration}}</h2>
      </div>
    </md-toolbar>
      
  </md-content>
</div>


					