<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a class="btn btn-primary btn-lg " ng-href="#select">Back</a>							
</div> 
<div class="dropdown-divider"></div>
<div class="row">
<div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">        
    
        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">
                  <a ng-click="show = !show" style="cursor: pointer;">
                      <span>Selected Employees ({{selecteds.length}})</span>
                </a>
                  
              </h5>
            </div>
              <div id="collapseOne" class="collapse" ng-class="{show: show}">
              <div class="card-body">
                <div class="row">
                    <div role="tablist" id="employees">
                      <div class="card" ng-repeat="employee in selecteds">
                        <div class="card-header">
                          <h5 class="mb-0">
                              <a ng-click="employee.show = !employee.show" style="cursor: pointer;">
                              {{employee.name }}
                            </a>
                              
                          </h5>
                        </div>
                          <div id="collapseOne" class="collapse" ng-class="{show: employee.show}">
                          <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <img ng-src="{{employee.image}}" class="rounded float-left img-fluid" style="width: 200px;"/>
                                </div>
                                <div class="col-7">
                                    <div class="col-12">
                                     <h4 class="card-title">Name</h4>
                                     <h6 class="card-subtitle mb-2 text-muted">{{employee.name}}</h6>                     
                                    </div>
                                    <div class="col-12">
                                     <h4 class="card-title">DOB</h4>
                                     <h6 class="card-subtitle mb-2 text-muted">{{employee.dob}}</h6>                     
                                    </div>
                                    <div class="col-12">
                                     <h4 class="card-title">Phone:</h4>
                                     <h6 class="card-subtitle mb-2 text-muted">{{employee.phone}}</h6>                     
                                    </div>

                                </div>
                            </div>        
                          </div>
                        </div>
                      </div>  
                    </div>   
                </div>        
              </div>
            </div>
          </div>  
        </div>        
    </div>
</div>

<table class="table table-responsive" id="table-form">
    <thead>
      <tr>
        <th>Day</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-if="weekday.Number !== 0" ng-repeat="weekday in WeekDays">
        <th>{{weekday.Description}}</th>
        <td>
            <select ng-model="startSelected" class="hour-start form-control custom-select " ng-change="weekday.startSelected = true" ng-options="hour for hour in weekday.OptionHoursStart">
                
            </select>
        </td>
        <td>
            <select ng-model="endSelected" class="hour-end form-control custom-select " ng-disabled="!weekday.startSelected" ng-change="weekday.duration = duration(startSelected, endSelected); calculateTotal(weekday);" >
                <option ng-if="weekday.startSelected" value="{{hour}}" ng-repeat="hour in getEndHours(startSelected)">{{hour}}</option>
            </select>
        </td>
        <td class="duration">{{weekday.duration}}</td>
    </tr>
    <tr>
        <th>{{Sunday.Description}}</th>
        <td>
            <select ng-model="startSelectedSunday" ng-change="Sunday.startSelected = true" class="hour-start form-control custom-select " ng-options="hour for hour in Sunday.OptionHoursStart" >
                
            </select>
        </td>
        <td>
            <select ng-model="endSelectedSunday" class="hour-end form-control custom-select " ng-disabled="!Sunday.startSelected" ng-change="Sunday.duration = duration(startSelectedSunday, endSelectedSunday);  calculateTotal(Sunday);" >
                <option ng-if="Sunday.startSelected" value="{{hour}}" ng-repeat="hour in getEndHours(startSelectedSunday)">{{hour}}</option>
            </select>
        </td>
        <td class="duration">{{Sunday.duration}}</td>
    </tr>    
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">Total worked hours of the week</th>
            <td class="ts-total">{{Duration}}</td>
        </tr>
    </tfoot>
</table>
					