 <div class="inset" layout="row" layout-sm="column" layout-align="center" >
    <md-button flex="90" class="md-accent md-raised" ng-href="#/">Back</md-button>    
  </div>
<div class="inset" layout="row" layout-sm="column" layout-align="center" >    
    <md-input-container flex="90" class="md-block">
      <label>Search</label>
      <input ng-model="search">
    </md-input-container>    
</div>
<div class="inset" layout="row" layout-sm="column" layout-align="center">
    <md-button flex="90" class="md-raised" ng-click="showEmployees(search)">Search</md-button>    
</div>
<div class="inset" layout="row" layout-sm="column" layout-align="center">
    <md-button flex="90" class="md-primary md-raised" ng-click="showEmployees()">Show All</md-button>    
</div>
<div class="inset" layout="row" layout-sm="column" layout-align="center">
    <md-button flex="90" class="md-accent md-raised" ng-href="#new" ng-disabled="selecteds.length === 0">Next</md-button>    
</div>

<md-list flex>

        <md-list-item class="md-3-line" ng-repeat="employee in employees" ng-click="showAddRemove(employee, 'Add')">
          <img ng-src="{{employee.image}}" class="md-avatar" alt="{{employee.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ employee.name }}</h3>
            <h4>{{ item.what }}</h4>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>
        <md-divider ></md-divider>

</md-list>

<md-list flex>
        <md-subheader class="md-no-sticky">Selecteds ({{selecteds.length}})</md-subheader>    
        <md-list-item class="md-3-line" ng-repeat="employee in selecteds" ng-click="showAddRemove(employee, 'Remove')" style="background: #b9f6ca;">
          <img ng-src="{{employee.image}}" class="md-avatar" alt="{{employee.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ employee.name }}</h3>
            <h4>{{ item.what }}</h4>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>
        <md-divider ></md-divider>

</md-list>

